<nav class="navbar navbar-expand-sm shadow-sm p-3 mb-5 bg-body rounded">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
      class="logo-image"
      src="assets/logo/appspos-logo.png"
      alt="Logo image">
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="suppliers" routerLinkActive="active"
          >Suppliers</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="requisition" routerLinkActive="active"
          >Requisition</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
